.app-wrapper {
    margin: 0 auto;
   display: flex;
   flex-direction: column;
    height: 100vh;

  

    /* animation: gradient 15s ease infinite; */
   
   /* background-color: white; */
    /* grid-gap: 10px; */
}

.app-wrapper-content {
   height: 100%;
   padding-top: 80px;
    /* background: linear-gradient(335.52deg, #3091ff -1.36%, #586acf 39.08%, hsla(0, 0%, 0%, 0.61) 93.05%), #dd3838; */

}







/*

/messages
/dialogs

/dialogs/3
/dialogs/2

*/
