.app-wrapper {
    margin: 0 auto;
   display: flex;
   flex-direction: column;
    height: 100vh;

  background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    /* animation: gradient 15s ease infinite; */
   
   /* background-color: white; */
    /* grid-gap: 10px; */
}

.app-wrapper-content {
   height: 100%;
   padding-top: 80px;
    /* background: linear-gradient(335.52deg, #3091ff -1.36%, #586acf 39.08%, hsla(0, 0%, 0%, 0.61) 93.05%), #dd3838; */

}







/*

/messages
/dialogs

/dialogs/3
/dialogs/2

*/
