.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
  height: 100%;
}

.dialogsItems {
    padding: 10px;
    color: #2a4463;
    font-size: 22px;
  
}

.dialogsItems .active {
    color: #2479e9;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}

